<footer class="flex flex-col items-center px-6 mx-auto bg-slate-100">

  <h5 class="font-bold text-slate-700 text-2xl py-10">Sprout your socializing</h5>
  <div class="container text-slate-700 text-center mb-4 w-full md:text-left">
    <span>Copyright &copy; 2022, All Rights Reserved</span>
  </div>

  <button id="to-top-button" onclick="goToTop()" title="Go To Top" class="hidden fixed z-50 bottom-10 right-10 p-4 border-0 w-14 h-14 rounded-full shadow-md bg-purple-600 hover:bg-purple-700 text-slate-100 text-lg font-semibold transition-colors duration-300">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
      <path d="M12 4l8 8h-6v8h-4v-8H4l8-8z" />
    </svg>
    <span class="sr-only">Go to top</span>
  </button>

</footer>

<script src="/js/script.js"></script>
<script>
  if (window.location.pathname === "/garden") {
    let gardenScript = document.createElement("script");
    gardenScript.src = "/js/garden.js";
    document.head.appendChild(gardenScript);
  }
</script>
<script>
  if (window.location.pathname === "/dashboard") {
    let dashboardScript = document.createElement("script");
    dashboardScript.src = "/js/dashboard.js";
    document.head.appendChild(dashboardScript);
  }
</script>

</body>

</html>