<footer class="flex flex-col items-center px-6 mx-auto bg-slate-100">

  <h5 class="font-bold text-slate-700 text-2xl py-10">Sprout your socializing</h5>
  <div class="container text-slate-700 text-center mb-4 w-full md:text-left">
    <span>Copyright &copy; 2022, All Rights Reserved</span>
  </div>

</footer>
<script src="js/script.js"></script>
</body>

</html>