<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yellow Book: Garden Planner</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Mono&family=Lato&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/452f532569.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet" />
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js" integrity="sha512-dfX5uYVXzyU8+KHqj8bjo7UkOdg18PaOtpa48djpNbZHwExddghZ+ZmzWT06R5v6NSk3ZUfsH6FNEDepLx9hPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <header class="w-full mx-auto">
    <div class="hover:via-vDarkGreen bg-bkgd font-heading flex flex-row h-16 p-3">
      <div class=" relative flex flex-row justify-between w-full pt-2">
        <button id="sidebar-toggle-open" type="button" class="items-left text-darkGreen hover:text-vDarkGreen inline-flex p-2 ml-10 text-sm rounded-lg">
          <i class="fa-solid fa-bars"></i>
        </button>
        <h1 class="text-darkGreen hover:text-vDarkGreen absolute right-0 items-center mx-auto mr-10 text-xl font-bold text-right"><%= title %></h1>
      </div>
      <aside id="separator-sidebar" class="bg-accent font-heading text-darkGreen shadow-darkGray fixed top-0 left-0 z-40 h-screen transition-transform -translate-x-full shadow-lg">
        <nav class="h-full px-3 py-4">
          <div class="flex flex-row">
            <button id="sidebar-toggle-close" type="button" class="left-36 top-5 hover:text-vDarkGreen fixed w-full text-sm">
              <i class="fa-solid fa-times"></i>
            </button>
            <h1 class="mx-auto mt-6 text-lg font-bold">Yellow Book: Garden Planner</h1>
          </div>
          <ul class="mt-6 space-y-2">
            <li>
              <a href="/dashboard" class="hover:bg-lightGray flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-gears text-darkPinkOrange w-5 h-5"></i>
                <span class="hover:text-vDarkGreen ml-3">Dashboard</span>
              </a>
            </li>
            <li>
              <a href="/kanban" class="hover:bg-lightGray flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-hammer text-darkPinkOrange w-5 h-5"></i>
                <span class="hover:text-vDarkGreen ml-3">Kanban</span>
              </a>
            </li>
            <li>
              <a href="/notes" class="hover:bg-lightGray flex items-center p-2 rounded-lg">
                <i class="fa-regular fa-note-sticky text-darkPinkOrange w-5 h-5"></i>
                <span class="hover:text-vDarkGreen ml-3">Notes</span>
              </a>
            </li>
            <li>
              <a href="/expenses" class="hover:bg-lightGray flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-money-check-dollar text-darkPinkOrange w-5 h-5"></i>
                <span class="hover:text-vDarkGreen ml-3">Expenses</span>
              </a>
            </li>
            <li>
              <a href="/garden" class="hover:bg-lightGray flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-seedling text-darkPinkOrange w-5 h-5"></i>
                <span class="hover:text-vDarkGreen ml-3">Garden</span>
              </a>
            </li>
            <li>
              <a href="/calculator" class="hover:bg-lightGray flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-calculator text-darkPinkOrange w-5 h-5"></i>
                <span class="hover:text-vDarkGreen ml-3">Calculator</span>
              </a>
            </li>
          </ul>
          <ul class="border-darkPinkOrange pt-4 mt-4 space-y-2 font-medium border-t">
            <li>
              <a href="/logout" class="hover:bg-lightGray flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-door-open text-darkPinkOrange w-5 h-5"></i>
                <span class="hover:text-vDarkGreen ml-4">Logout</span>
              </a>
            </li>
            <li>
              <a href="/delete-account" class="hover:bg-lightGray flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-person-through-window text-darkPinkOrange w-5 h-5"></i>
                <span class="hover:text-vDarkGreen ml-3">Delete Account</span>
              </a>
            </li>
            <li>
              <div class="flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-user-tag text-darkPinkOrange w-5 h-5"></i>
                <span class="ml-3">User Name: <%= user.userName %></span>
              </div>
            </li>
            <li>
              <div class="flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-user-ninja text-darkPinkOrange w-5 h-5"></i>
                <span class="ml-3">Email: <%= user.email %></span>
              </div>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </header>
</body>

</html>