<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yellow Book: Garden Planner</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo&family=IBM+Plex+Mono&family=Lato&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/452f532569.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet" />
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js" integrity="sha512-dfX5uYVXzyU8+KHqj8bjo7UkOdg18PaOtpa48djpNbZHwExddghZ+ZmzWT06R5v6NSk3ZUfsH6FNEDepLx9hPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <header class="w-full mx-auto">
    <div class="flex flex-row p-3 hover:via-vDarkGreen bg-bkgd font-heading h-16">
      <div class="w-full flex flex-row justify-between relative pt-2 ">
        <button id="sidebar-toggle-open" type="button" class="inline-flex items-left p-2 ml-10 text-sm text-darkGreen rounded-lg hover:text-vDarkGreen">
          <i class="fa-solid fa-bars"></i>
        </button>
        <h1 class="mx-auto mr-10 text-xl font-bold text-right text-darkGreen items-center absolute right-0 hover:text-vDarkGreen"><%= title %></h1>
      </div>
      <aside id="separator-sidebar" class="fixed top-0 left-0 z-40 h-screen transition-transform -translate-x-full bg-accent font-heading  text-darkGreen shadow-lg shadow-darkGray">
        <nav class="h-full px-3 py-4">
          <div class="flex flex-row">
            <button id="sidebar-toggle-close" type="button" class="fixed w-full left-36 top-5 text-sm hover:text-vDarkGreen">
              <i class="fa-solid fa-times"></i>
            </button>
            <h1 class="mx-auto text-lg font-bold mt-6">Yellow Book: Garden Planner</h1>
          </div>
          <ul class="mt-6 space-y-2">
            <li>
              <a href="/dashboard" class="flex items-center p-2 rounded-lg hover:bg-lightGray">
                <i class="fa-solid fa-gears w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3 hover:text-vDarkGreen">Dashboard</span>
              </a>

            </li>
            <li>
              <a href="/kanban" class="flex items-center p-2 rounded-lg hover:bg-lightGray">
                <i class="fa-solid fa-hammer w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3 hover:text-vDarkGreen">Kanban</span>
              </a>
            </li>
            <li>
              <a href="/notes" class="flex items-center p-2 rounded-lg hover:bg-lightGray">
                <i class="fa-regular fa-note-sticky w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3 hover:text-vDarkGreen">Notes</span>
              </a>
            </li>
            <li>
              <a href="/expenses" class="flex items-center p-2 rounded-lg hover:bg-lightGray">
                <i class="fa-solid fa-money-check-dollar w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3 hover:text-vDarkGreen">Expenses</span>
              </a>
            </li>
            <li>
              <a href="/garden" class="flex items-center p-2 rounded-lg hover:bg-lightGray">
                <i class="fa-solid fa-seedling w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3 hover:text-vDarkGreen">Garden</span>
              </a>
            </li>
            <li>
              <a href="/calculator" class="flex items-center p-2 rounded-lg hover:bg-lightGray">
                <i class="fa-solid fa-calculator w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3 hover:text-vDarkGreen">Calculator</span>
              </a>
            </li>
          </ul>
          <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-darkPinkOrange">
            <li>
              <a href="/logout" class="flex items-center p-2 rounded-lg hover:bg-lightGray">
                <i class="fa-solid fa-door-open w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-4 hover:text-vDarkGreen">Logout</span>
              </a>
            </li>
            <li>
              <a href="/delete-account" class="flex items-center p-2 rounded-lg hover:bg-lightGray">
                <i class="fa-solid fa-person-through-window w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3 hover:text-vDarkGreen">Delete Account</span>
              </a>
            </li>
            <li>
              <div class="flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-user-tag w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3">User Name: <%= user.userName %></span>
              </div>
            </li>
            <li>
              <div class="flex items-center p-2 rounded-lg">
                <i class="fa-solid fa-user-ninja w-5 h-5 text-darkPinkOrange"></i>
                <span class="ml-3">Email: <%= user.email %></span>
              </div>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </header>
</body>

</html>