<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>waterSpigot</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
  <header class="w-full mx-auto p-6 bg-slate-100">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-4xl font-bold text-slate-700 mt-20 mb-3"><a href="/profile">The Water Spigot</a></h1>
    </div>
  </header>
</body>

</html>