<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Yellow Book: Garden Planner</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
  <link rel="stylesheet" href="/css/main.css" />
  <script src="https://kit.fontawesome.com/452f532569.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet" />
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.4.1/papaparse.min.js" integrity="sha512-dfX5uYVXzyU8+KHqj8bjo7UkOdg18PaOtpa48djpNbZHwExddghZ+ZmzWT06R5v6NSk3ZUfsH6FNEDepLx9hPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <header class="w-full mx-auto p-3 bg-slate-100">
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-xl font-bold text-slate-700"><%= title %></h1>
    </div>
  </header>

  <button id="sidebar-toggle-open" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <i class="fa-solid fa-bars"></i>
  </button>
  <aside id="separator-sidebar" class="fixed top-0 left-0 z-40 md:w-1/4 sm:w-1/2 h-screen transition-transform -translate-x-full">
    <nav class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
      <button id="sidebar-toggle-close" type="button" class="inline-flex fixed top-6 right-6 pb-5 text-sm text-gray-500 rounded-lg hover:text-white">
        <i class="fa-solid fa-times"></i>
      </button>
      <h1 class="text-l font-bold text-white mt-7">Yellow Book: Garden Planner</h1>
      <ul class="mt-6 space-y-2 font-medium">
        <li>
          <a href="/dashboard" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <i class="fa-solid fa-gears flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class=" ml-3">Dashboard</span>
          </a>

        </li>
        <li>
          <a href="/kanban" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <i class="fa-solid fa-hammer flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Kanban</span>
          </a>
        </li>
        <li>
          <a href="/notes" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <i class="fa-regular fa-note-sticky flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Notes</span>
          </a>
        </li>
        <li>
          <a href="/expenses" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <i class="fa-solid fa-money-check-dollar flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Expenses</span>
          </a>
        </li>
        <li>
          <a href="/garden" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <i class="fa-solid fa-seedling flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Garden</span>
          </a>
        </li>
        <li>
          <a href="/calculator" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
            <i class="fa-solid fa-calculator flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="flex-1 ml-3 whitespace-nowrap">Calculator</span>
          </a>
        </li>
      </ul>
      <ul class="pt-4 mt-4 space-y-2 font-medium border-t border-gray-200 dark:border-gray-700">
        <li>
          <a href="/logout" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
            <i class="fa-solid fa-door-open flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="ml-4">Logout</span>
          </a>
        </li>
        <li>
          <a href="/delete-account" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
            <i class="fa-solid fa-person-through-window flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="ml-3">Delete Account</span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
            <i class="fa-solid fa-user-tag flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="ml-3">User Name: <%= user.userName %></span>
          </a>
        </li>
        <li>
          <a href="#" class="flex items-center p-2 text-gray-900 transition duration-75 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 dark:text-white group">
            <i class="fa-solid fa-user-ninja flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 group-hover:text-gray-900 dark:group-hover:text-white dark:text-gray-400"></i>
            <span class="ml-3">Email: <%= user.email %></span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
</body>

</html>