<%- include('partials/header-auth') %>

<!-- table -->
<section>
  <div class="container">
    <div class="pb-5">
      <h3 class="pb-1 mx-1 my-3 border-b border-gray-300">Spacing Table</h3>
      <div id="table"></div>
    </div>
  </div>
</section>
<!-- calculator -->
<section id="calculator">
  <div class="container">
    <div>
      <h3 class="pb-1 mx-1 my-3 border-b border-gray-300">Seed Calculator</h3>
    </div>
    <div>
      <div>
        <div>
          <p class="pt-3">Inches between seeds</p>
          <input class="bg-blue-50 caret-purple-600 px-4 py-3 rounded-full border-2 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="in-between" type="text" placeholder="Enter Inches" />
        </div>
        <div>
          <p class="pt-3">Length of row</p>
          <input class="bg-blue-50 caret-purple-600 px-4 py-3 rounded-full border-2 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="length" type="text" placeholder="Enter Feet" />
        </div>
        <div>
          <p class="pt-3">Number of rows</p>
          <input class="bg-blue-50 caret-purple-600 px-4 py-3 rounded-full border-2 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="rows" type="text" placeholder="Enter Total Rows" />
        </div>
      </div>
      <button id="calculate" class="flex-flex-row w-full p-3 px-6 pt-2 mt-4 mx-auto font-bold text-slate-100 bg-cyan-600 rounded-full baseline hover:bg-cyan-700 md:justify-center md:items-center md:w-1/3">
        Calculate
      </button>
      <div class="pb-5">
        <p class="pb-3">Total seeds or plants</p>
        <p id="calc-display"></p>
      </div>
    </div>
  </div>
</section>
<!-- plant hardiness zone -->
<section id="plant">
  <div class="container">
    <div>
      <h3 class="pb-1 mx-1 my-3 border-b border-gray-300">Plant Hardiness Zone</h3>
    </div>
    <div>
      <div>
        <div>
          <p class="pt-3">Find your zone</p>
          <input class="bg-blue-50 caret-purple-600 px-4 py-3 rounded-full border-2 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="code" type="text" placeholder="Enter Zip Code" />
        </div>
      </div>
      <button id="zone" class="flex-flex-row w-full p-3 px-6 pt-2 mt-4 mx-auto font-bold text-slate-100 bg-cyan-600 rounded-full baseline hover:bg-cyan-700 md:justify-center md:items-center md:w-1/3">
        Find
      </button>
      <div class="pb-5">
        <p class="pb-3">You are in zone</p>
        <p id="zone-display"></p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>