<%- include('partials/header') -%>

<main class="bg-slate-100 flex flex-col items-center justify-center p-6 w-full mx-auto">
  <div class="container flex flex-col justify-center items-center p-6 sm:w-2/3 md:w-1/2">
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="flex-col text-xl pb-3 text-red-700 font-bold mx-auto text-center">
      <%= el.msg %>
    </div>
    <% }) %> <% } %>
    <% if (locals.messages.info) { %> <% messages.info.forEach( el => { %>
    <div class="text-xl pb-5 text-red-700 font-bold mx-auto text-center">
      <%= el.msg %>
    </div>
    <% }) %> <% } %>
    <form action="/deleteAccount" method="POST">
      <div class="flex flex-col mb-8 mt-15">
        <label for="userName" class="my-3 text-slate-700">User Name</label>
        <input type="text" class="bg-blue-50 px-4 py-3 rounded-full border-2 caret-purple-600 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="userName" name="userName" />
      </div>
      <div class="flex flex-col my-8">
        <label for="exampleInputEmail1" class="mb-3 text-slate-700">Email address</label>
        <input type="email" class="bg-blue-50 px-4 py-3 rounded-full border-2 caret-purple-600 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" />
        <div>
          <% if (locals.messages.info) { %>
          <p class="text-lg py-8 text-slate-700 font-bold mx-auto text-center">Thank you for participating!</p>
          <% } else { %>
          <p class="text-lg py-8 text-slate-700 font-bold mx-auto text-center">Please enter your information for account deletion.</p>
          <% } %>
        </div>
      </div>
      <div class="flex flex-col mb-8 mt-15">
        <label for="password" class="mb-3 text-slate-700">Password</label>
        <input type="password" class="bg-blue-50 px-4 py-3 rounded-full border-2 caret-purple-600 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="password" name="password" />
      </div>
      <div class="flex flex-col mb-8 mt-15">
        <label for="confirmPassword" class="mb-3 text-slate-700">Confirm Password</label>
        <input type="password" class="bg-blue-50 px-4 py-3 rounded-full border-2 caret-purple-600 border-cyan-800 focus:border-blue-500 focus:outline-none focus:bg-blue-100" id="confirmPassword" name="confirmPassword" />
      </div>
      <button type="submit" class="flex flex-row mx-auto mt-8 p-3 px-6 pt-2 font-bold text-slate-100 bg-cyan-600 rounded-full baseline hover:bg-cyan-700">
        Delete Account
      </button>
    </form>
  </div>
</main>

<%- include('partials/footer') -%>