<%- include('partials/header-auth') %>

<main class="bg-bkgd font-body text-darkGray flex flex-col items-center justify-center w-full mx-auto">
  <section class="container flex flex-col">
    <div class="bg-lightYellow py-14 flex items-center justify-center w-full px-8 rounded-lg shadow-md">
      <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
      <div class="text-alert flex-col pb-3 mx-auto text-xl font-bold text-center">
        <%= el.msg %>
      </div>
      <% }) %> <% } %>
      <% if (locals.messages.info) { %> <% messages.info.forEach( el => { %>
      <div class="text-alert pb-5 mx-auto text-xl font-bold text-center">
        <%= el.msg %>
      </div>
      <% }) %> <% } %>
      <% if (!(messages.info && messages.info.length)) { %>
      <form action="/delete-account" method="POST" class="bg-accent w-1/2 px-8 pt-6 pb-8 rounded shadow-md">
        <div class="pb-5 my-5">
          <% if (locals.messages.info) { %>
          <h2 class="font-heading border-darkGray font-bold uppercase border-b">>Thank you for participating!</h2>
          <% } else { %>
          <h2 class="font-heading border-darkGray font-bold uppercase border-b">Please enter your info to delete account</h2>
          <% } %>
        </div>
        <div class="mb-4">
          <label for="userName" class="font-heading block mb-2 text-sm font-bold">User Name</label>
          <input type="text" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="userName" name="userName" placeholder="User Name" />
        </div>
        <div class="mb-4">
          <label for="exampleInputEmail1" class="font-heading block mb-2 text-sm font-bold">Email address</label>
          <input type="email" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Email" />
        </div>
        <div class="mb-4">
          <label for="password" class="font-heading block mb-2 text-sm font-bold">Password</label>
          <input type="password" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="password" name="password" placeholder="******************" />
        </div>
        <div class="mb-4">
          <label for="confirmPassword" class="font-heading block mb-2 text-sm font-bold">Confirm Password</label>
          <input type="password" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="confirmPassword" name="confirmPassword" placeholder="******************" />
        </div>
        <div class="flex flex-col pt-6 mb-5">
          <button type="submit" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline justify-center px-4 py-2 mb-4 font-bold rounded">
            Delete Account!
          </button>
        </div>
      </form>
      <% } %>
    </div>
  </section>
</main>

<%- include('partials/footer') -%>