<%- include('partials/header-guest') %>

<main class="bg-bkgd text-darkGray">
  <section class="container pt-10">
    <div class="bg-lightOrange shadow-md rounded-lg w-full px-8">
      <div class="w-full pt-14">
        <h1 class="w-full text-4xl font-bold font-heading text-center">
          Welcome to</h1>
        <h1 class="py-5 text-darkGreen w-full text-4xl font-bold font-heading text-center">Yellow Book: Garden Planner!</h1>
      </div>
      <div class="flex flex-col-reverse items-center mx-auto md:flex-row md:container">
        <div class="flex flex-col md:w-1/2 md:pt-12">
          <p class="text-lg text-center md:text-left md:mr-20">
            Grow your dream garden with ease and precision. Our web app is designed to streamline your gardening experience, providing you with a comprehensive set of tools and features to plan, track, and optimize your gardening journey.
          </p>
          <div class="flex flex-col py-10 container md:w-1/2">
            <a href="/login" class="flex w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
              Login!</a>
            <a href="/signup" class="flex w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
              Join Us!</a>
          </div>
        </div>
        <div class="px-5 p-10 md:w-1/2">
          <div class="flex flex-col">
            <img src="/images/gardening.png" alt="lady gardening">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="md:flex md:flex-row">
    <div class="container mt-10 md:w-1/2 md:mt-24 md:pt-20">
      <div class="bg-lightOrange shadow-md rounded-lg w-full px-8">
        <div class="w-full pt-10">
          <h1 class="py-5 font-heading text-darkGreen w-full text-4xl font-bold text-center">
            Visualize Your Garden with Drag & Drop
          </h1>
        </div>
        <div class="flex flex-col-reverse items-center mx-auto">
          <div class="flex flex-col">
            <p class="text-lg text-center md:text-left md:container">
              Bring your garden vision to life with our interactive Garden page. Drag and drop garden icons to create a digital mockup of your ideal garden layout. Experiment with different arrangements and visualize the perfect design before bringing it to life.
            </p>
            <div class="flex flex-col py-10 container md:w-1/2">
              <a href="/signup" class="flex flex-row w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
                Join Us!</a>
            </div>
          </div>
          <div class="px-5 p-10">
            <div class="flex flex-col">
              <img src="/images/happy_news.png" alt="person taking notes">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md:flex md:flex-col md:w-1/2">
      <div class="container mt-10">
        <div class="bg-lightGray shadow-md rounded-lg w-full px-8">
          <div class="w-full pt-10">
            <h1 class="py-5 font-heading text-darkGreen w-full text-4xl font-bold text-center md:text-2xl">
              Real-time Weather and Growing Zone
            </h1>
          </div>
          <div class="flex flex-col-reverse items-center mx-auto md:flex-col">
            <div class="flex flex-col">
              <p class="text-lg text-center md:text-left md:container">
                Stay informed about your local weather conditions and growing zone right from your dashboard. Our app integrates the latest weather data, ensuring that you make informed decisions for your plants.
              </p>
              <div class="flex flex-col py-10 container md:hidden">
                <a href="/signup" class="flex flex-row w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
                  Join Us!</a>
              </div>
            </div>
            <div class="px-5 p-10 md:pb-10">
              <div class="flex flex-col">
                <img src="/images/weather_app.png" alt="weather app" class="md:w-64 md:h-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-10">
        <div class="bg-accent shadow-md rounded-lg w-full px-8">
          <div class="w-full pt-10">
            <h1 class="py-5 font-heading text-darkGreen w-full text-4xl font-bold text-center md:text-2xl">
              Seamless Seed/Plant Spacing Calculations
            </h1>
          </div>
          <div class="flex flex-col-reverse items-center mx-auto md:flex-col">
            <div class="flex flex-col">
              <p class="text-lg text-center md:text-left md:container">
                Optimize your garden layout with our intuitive Seed/Plant Calculator. Determine the ideal spacing for your seeds or plants to maximize growth and yield. Our calculator takes the guesswork out of spacing, allowing you to plan with precision.
              </p>
              <div class="flex flex-col py-10 container md:hidden">
                <a href="/signup" class="flex flex-row w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
                  Join Us!</a>
              </div>
            </div>
            <div class="px-5 p-10 md:pb-10">
              <div class="flex flex-col">
                <img src="/images/outdoors.png" alt="person planting plants">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="md:flex md:flex-row">
    <div class="md:flex md:flex-col md:w-1/2">
      <div class="container mt-10">
        <div class="bg-lightGray shadow-md rounded-lg w-full px-8">
          <div class="w-full pt-10">
            <h1 class="py-5 font-heading text-darkGreen w-full text-4xl font-bold text-center md:text-2xl">
              Effortless Note Taking
            </h1>
          </div>
          <div class="flex flex-col-reverse items-center mx-auto md:flex-col">
            <div class="flex flex-col">
              <p class="text-lg text-center md:text-left md:container">
                Keep track of your gardening progress and insights with our intuitive Notes page. Jot down your thoughts, observations, and gardening tips to refer back to whenever you need. Easily access and review your previous notes for ongoing reference.
              </p>
              <div class="flex flex-col py-10 container md:hidden">
                <a href="/signup" class="flex flex-row w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
                  Join Us!</a>
              </div>
            </div>
            <div class="px-5 p-10">
              <div class="flex flex-col md:pb-10">
                <img src="/images/random_thoughts.png" alt="notes on tree" class="md:w-64 md:h-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-10">
        <div class="bg-accent shadow-md rounded-lg w-full px-8">
          <div class="w-full pt-10">
            <h1 class="py-5 font-heading text-darkGreen w-full text-4xl font-bold text-center md:text-2xl">
              Organize Tasks with Kanban Boards
            </h1>
          </div>
          <div class="flex flex-col-reverse items-center mx-auto md:flex-col">
            <div class="flex flex-col">
              <p class="text-lg text-center md:text-left md:container">
                Stay on top of your gardening tasks with our interactive Kanban page. View, move, and add tasks effortlessly, ensuring that you never miss a beat. Manage your to-do list, prioritize tasks, and monitor your progress all in one place.
              </p>
              <div class="flex flex-col py-10 container md:hidden">
                <a href="/signup" class="flex flex-row w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
                  Join Us!</a>
              </div>
            </div>
            <div class="px-5 p-10 md:pb-10">
              <div class="flex flex-col">
                <img src="/images/thought_process.png" alt="notes on board" class="md:w-64 md:h-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="md:flex md:flex-col md:w-1/2">
      <div class="container mt-10">
        <div class="bg-lightOrange shadow-md rounded-lg w-full px-8">
          <div class="w-full pt-10">
            <h1 class="py-5 font-heading text-darkGreen w-full text-4xl font-bold text-center md:text-2xl">
              Track Garden Expenses
            </h1>
          </div>
          <div class="flex flex-col-reverse items-center mx-auto md:flex-col">
            <div class="flex flex-col">
              <p class="text-lg text-center md:text-left md:container">
                Keep your gardening budget in check with our Expense page. Log and monitor all your garden-related expenses in one convenient location. Stay informed about your spending and make informed decisions to optimize your gardening investments.
              </p>
              <div class="flex flex-col py-10 container md:hidden">
                <a href="/signup" class="flex flex-row w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
                  Join Us!</a>
              </div>
            </div>
            <div class="px-5 p-10">
              <div class="flex flex-col">
                <img src="/images/counting_stars.png" alt="people counting stars" class="md:w-64 md:h-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-10">
        <div class="bg-lightGray shadow-md rounded-lg w-full px-8">
          <div class="w-full pt-10">
            <h1 class="py-5 font-heading text-darkGreen w-full text-4xl font-bold text-center md:text-2xl">
              Account Management Made Simple
            </h1>
          </div>
          <div class="flex flex-col-reverse items-center mx-auto md:flex-col">
            <div class="flex flex-col">
              <p class="text-lg text-center md:text-left md:container">
                If you ever decide to part ways, we provide hassle-free account deletion. Your privacy and control over your data are important to us, and we respect your decision to delete your account. We're always here to assist you if you change your mind.
              </p>
              <div class="flex flex-col py-10 container md:hidden">
                <a href="/signup" class="flex flex-row w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
                  Join Us!</a>
              </div>
            </div>
            <div class="px-5 p-10">
              <div class="flex flex-col">
                <img src="/images/throw_away.png" alt="person dropping something in trash" class="md:w-64 md:h-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-10">
    <div class="bg-lightOrange shadow-md rounded-lg w-full  px-8">
      <div class="flex flex-col items-center mx-auto pt-10 md:flex-row md:container">
        <div class="flex flex-col md:w-1/2 md:pt-12">
          <p class="text-lg text-center md:text-left md:mr-20">
            <span class="text-darkGreen font-bold uppercase font-heading">Yellow Book: Garden Planner</span> empowers you to create and maintain a beautiful garden, no matter your skill level. Sign up today and unlock the full potential of your gardening journey. Let's make your dream garden a reality!
          </p>
        </div>
        <div class="flex flex-col md:px-5 md:p-10 md:w-1/2">
          <p class="text-lg text-center pt-10 md:text-left">
            Start planning your garden today with <span class="text-darkGreen font-bold uppercase font-heading">Yellow Book: Garden Planner!</span> Sign up now and get ready to grow!
          </p>
          <div class="flex flex-col py-10 container md:w-1/2">
            <a href="/signup" class="flex flex-row w-full mx-auto p-3 mb-4 bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center items-center">
              Join Us!</a>
          </div>
        </div>
      </div>
  </section>
  </div>

  <%- include('partials/footer') -%>