<%- include('partials/header-guest') %>

<main class="bg-bkgd text-darkGray">
  <section class="container">
    <div class="bg-lightYellow w-full px-8 rounded-lg shadow-md">
      <div class="pt-14 w-full">
        <h1 class="font-heading w-full text-4xl font-bold text-center">
          Welcome to</h1>
        <h1 class="text-darkGreen font-heading w-full py-5 text-4xl font-bold text-center">Yellow Book: Garden Planner!</h1>
      </div>
      <div class="md:flex-row md:container flex flex-col-reverse items-center mx-auto">
        <div class="md:w-1/2 md:pt-12 flex flex-col">
          <p class="md:text-left md:mr-20 text-lg text-center">
            <span class="text-darkPinkOrange font-heading font-bold uppercase">Grow </span>
            your dream garden with ease and precision. Our web app is designed to streamline your gardening experience, providing you with a <span class="text-darkPinkOrange font-heading font-bold uppercase">comprehensive </span>set of tools and features to plan, track, and optimize your gardening journey.
          </p>
          <div class="md:w-1/2 container flex flex-col py-10">
            <a href="/login" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline flex items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
              Login!</a>
            <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline flex items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
              Join Us!</a>
          </div>
        </div>
        <div class="md:w-1/2 p-10 px-5">
          <div class="flex flex-col">
            <img src="/images/gardening.png" alt="lady gardening">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="md:flex md:flex-row">
    <div class="md:w-1/2 md:mt-24 container mt-10">
      <h2 class="font-heading text-darkPinkOrange md:pb-24 md:mt-24 w-full my-10 text-4xl font-bold text-center uppercase">Seamlessly Visualize Your Garden</h2>
      <div class="bg-lightOrange w-full px-8 rounded-lg shadow-md">
        <div class="w-full pt-10">
          <h3 class="font-heading text-darkGreen md:text-2xl w-full py-5 text-4xl font-bold text-center">
            Drag & Drop Planning
          </h3>
        </div>
        <div class="flex flex-col-reverse items-center mx-auto">
          <div class="flex flex-col">
            <p class="md:text-left md:container text-lg text-center">
              Bring your garden vision to life with our interactive Garden page. Drag and drop garden icons to create a digital mockup of your ideal garden layout. Experiment with different arrangements and visualize the perfect design before bringing it to life.
            </p>
            <div class="md:w-1/2 container flex flex-col py-10">
              <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline flex flex-row items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
                Join Us!</a>
            </div>
          </div>
          <div class="p-10 px-5">
            <div class="flex flex-col">
              <img src="/images/happy_news.png" alt="person taking notes">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md:flex md:flex-col md:w-1/2">
      <div class="md:mt-24 container mt-10">
        <div class="bg-lightGray w-full px-8 rounded-lg shadow-md">
          <div class="w-full pt-10">
            <h3 class="font-heading text-darkGreen md:text-2xl w-full py-5 text-4xl font-bold text-center">
              Real-time Weather and Growing Zone
            </h3>
          </div>
          <div class="md:flex-col flex flex-col-reverse items-center mx-auto">
            <div class="flex flex-col">
              <p class="md:text-left md:container text-lg text-center">
                Stay informed about your local weather conditions and growing zone right from your dashboard. Our app integrates the latest weather data, ensuring that you make informed decisions for your plants.
              </p>
              <div class="md:hidden container flex flex-col py-10">
                <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline flex flex-row items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
                  Join Us!</a>
              </div>
            </div>
            <div class="md:pb-10 p-10 px-5">
              <div class="flex flex-col">
                <img src="/images/weather_app.png" alt="weather app" class="md:w-64 md:h-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md:mt-24 container mt-10">
        <div class="bg-accent w-full px-8 rounded-lg shadow-md">
          <div class="w-full pt-10">
            <h3 class="font-heading text-darkGreen md:text-2xl w-full py-5 text-4xl font-bold text-center">
              Seed/Plant Spacing Calculations
            </h3>
          </div>
          <div class="md:flex-col flex flex-col-reverse items-center mx-auto">
            <div class="flex flex-col">
              <p class="md:text-left md:container text-lg text-center">
                Optimize your garden layout with our intuitive Seed/Plant Calculator. Determine the ideal spacing for your seeds or plants to maximize growth and yield. Our calculator takes the guesswork out of spacing, allowing you to plan with precision.
              </p>
              <div class="md:hidden container flex flex-col py-10">
                <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline flex flex-row items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
                  Join Us!</a>
              </div>
            </div>
            <div class="md:pb-10 p-10 px-5">
              <div class="flex flex-col">
                <img src="/images/outdoors.png" alt="person planting plants">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container mt-10">
    <div class="container flex flex-col justify-center w-full pb-10 mx-auto text-center">
      <h2 class="font-heading text-darkGreen w-full my-10 text-4xl font-bold text-center uppercase">Yellow Book: Garden Planner</h2>
      <p class="text-xl"><span class="text-darkPinkOrange font-heading font-bold uppercase">Equipping</span> you with the tools and knowledge to cultivate a flourishing garden.</p>
    </div>
    <div class="md:flex-row md:mt-10 flex flex-col">
      <div class="md:container md:w-1/2">
        <div class="bg-lightYellow md:pt-12 md:h-full md:justify-end flex flex-col items-center w-full px-8 py-10 mx-auto rounded-lg shadow-md">
          <p class="md:text-left md:container text-lg text-center">
            <span class="text-darkPinkOrange font-heading font-bold uppercase">Unlock </span> the full potential of your gardening journey.
          </p>
        </div>
      </div>
      <div class="md:container md:w-1/2">
        <div class="bg-lightYellow md:pt-12 md:mt-0 md:h-full container flex flex-col w-full px-8 py-10 mt-10 rounded-lg shadow-md">
          <p class="md:text-center md:container pb-10 text-lg text-center">
            Let's make your dream garden a <span class="text-darkPinkOrange font-heading font-bold uppercase">reality!</span>
          </p>
          <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline md:container md:w-1/2 flex flex-row items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
            Join Us!</a>
        </div>
      </div>
    </div>
  </section>
  <section class="md:flex md:flex-row flex flex-col-reverse">
    <div class="md:flex md:flex-col md:w-1/2">
      <div class="md:mt-24 container mt-10">
        <div class="bg-lightGray w-full px-8 rounded-lg shadow-md">
          <div class="w-full pt-10">
            <h3 class="font-heading text-darkGreen md:text-2xl w-full py-5 text-4xl font-bold text-center">
              Note Taking
            </h3>
          </div>
          <div class="md:flex-col flex flex-col-reverse items-center mx-auto">
            <div class="flex flex-col">
              <p class="md:text-left md:container text-lg text-center">
                Keep track of your gardening progress and insights with our intuitive Notes page. Jot down your thoughts, observations, and gardening tips to refer back to whenever you need. Easily access and review your previous notes for ongoing reference.
              </p>
              <div class="md:hidden container flex flex-col py-10">
                <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline flex flex-row items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
                  Join Us!</a>
              </div>
            </div>
            <div class="p-10 px-5">
              <div class="md:pb-10 flex flex-col">
                <img src="/images/random_thoughts.png" alt="notes on tree" class="md:w-64 md:h-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md:mt-24 container mt-10">
        <div class="bg-accent w-full px-8 rounded-lg shadow-md">
          <div class="w-full pt-10">
            <h3 class="font-heading text-darkGreen md:text-2xl w-full py-5 text-4xl font-bold text-center">
              Tasks with Kanban Boards
            </h3>
          </div>
          <div class="md:flex-col flex flex-col-reverse items-center mx-auto">
            <div class="flex flex-col">
              <p class="md:text-left md:container text-lg text-center">
                Stay on top of your gardening tasks with our interactive Kanban page. View, move, and add tasks effortlessly, ensuring that you never miss a beat. Manage your to-do list, prioritize tasks, and monitor your progress all in one place.
              </p>
              <div class="md:hidden container flex flex-col py-10">
                <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline flex flex-row items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
                  Join Us!</a>
              </div>
            </div>
            <div class="md:pb-10 p-10 px-5">
              <div class="flex flex-col">
                <img src="/images/thought_process.png" alt="notes on board" class="md:w-64 md:h-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="md:w-1/2 md:mt-24 md:pt-0 container mt-10">
      <h2 class="font-heading text-darkPinkOrange md:pb-32 md:mt-24 w-full my-10 text-4xl font-bold text-center uppercase">Effortless Tracking & Organization</h2>
      <div class="bg-lightOrange w-full px-8 rounded-lg shadow-md">
        <div class="w-full pt-10">
          <h3 class="font-heading text-darkGreen w-full py-5 text-4xl font-bold text-center">
            Garden Expenses
          </h3>
        </div>
        <div class="flex flex-col-reverse items-center mx-auto">
          <div class="flex flex-col">
            <p class="md:text-left md:container text-lg text-center">
              Keep your gardening budget in check with our Expense page. Log and monitor all your garden-related expenses in one convenient location. Stay informed about your spending and make informed decisions to optimize your gardening investments.
            </p>
            <div class="md:w-1/2 container flex flex-col py-10">
              <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline flex flex-row items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
                Join Us!</a>
            </div>
          </div>
          <div class="p-10 px-5">
            <div class="flex flex-col">
              <img src="/images/counting_stars.png" alt="people counting stars">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="md:pb-10 container mt-10">
    <div class="container flex flex-col justify-center w-full pb-10 mx-auto text-center">
      <h2 class="font-heading text-darkGreen w-full my-10 text-4xl font-bold text-center uppercase">Yellow Book: Garden Planner</h2>
      <p class="text-xl"><span class="text-darkPinkOrange font-heading font-bold uppercase">Empowering</span> you to create and maintain a beautiful garden, no matter your skill level.</p>
    </div>
    <div class="md:flex-row md:mt-10 flex flex-col">
      <div class="md:container md:w-1/2">
        <div class="bg-lightYellow md:pt-12 md:h-full md:justify-end flex flex-col items-center w-full px-8 py-10 mx-auto rounded-lg shadow-md">
          <p class="md:text-left md:container text-lg text-center"">
            <span class=" text-darkPinkOrange font-heading font-bold uppercase">Start</span> planning your garden today with <span class="text-darkGreen font-heading font-bold uppercase">Yellow Book: Garden Planner!</span>
          </p>
        </div>
      </div>
      <div class="md:container md:w-1/2">
        <div class="bg-lightYellow md:pt-12 md:mt-0 md:h-full container flex flex-col w-full px-8 py-10 mt-10 rounded-lg shadow-md">
          <p class="md:text-center md:container pb-10 text-lg text-center">
            Sign up now and get ready to <span class="text-darkPinkOrange font-heading font-bold uppercase">grow!</span>
          </p>
          <a href="/signup" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline md:container md:w-1/2 flex flex-row items-center justify-center w-full p-3 px-4 py-2 mx-auto mb-4 font-bold rounded">
            Join Us!</a>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') -%>