<%- include('partials/header-guest') %>

<main class="bg-bkgd font-body text-darkGray flex flex-col items-center justify-center h-screen w-full mx-auto">
  <section class="container flex flex-col justify-center items-center p-6 sm:w-2/3 md:w-1/2">
    <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
    <div class="flex-col text-xl pb-3 text-alert font-bold mx-auto text-center">
      <%= el.msg %>
    </div>
    <% }) %> <% } %> <% if (locals.messages.info) { %> <%
      messages.info.forEach( el => { %>
    <div class="flex-col text-xl pb-5 text-alert font-bold mx-auto text-center">
      <%= el.msg %>
    </div>
    <% }) %> <% } %>
    <form action="/signup" method="POST" class="bg-accent shadow-md rounded px-8 pt-6 pb-8 w-full">
      <div class="my-5 pb-1">
        <h2 class="uppercase font-heading font-bold border-b border-darkGray">Sign up for an account
        </h2>
        <p class="font-heading font-bold  normal-case text-xs ml-5 mb-4 text-vDarkBlue mt-2"> - We'll never share your email.</p>
      </div>
      <div class="mb-4">
        <label for="userName" class="block text-sm font-bold mb-2 font-heading">User Name</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd" id="userName" name="userName" placeholder="User Name" />
      </div>
      <div class="mb-4">
        <label for="email" class="block text-sm font-bold mb-2 font-heading">Email address</label>
        <input type="email" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd" id="email" name="email" placeholder="Email" />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-sm font-bold mb-2 font-heading">Password</label>
        <input type="password" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd" id="password" name="password" placeholder="******************" />
      </div>
      <div class="mb-4">
        <label for="confirmPassword" class="block text-sm font-bold mb-2 font-heading">Confirm Password</label>
        <input type="password" class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd" id="confirmPassword" name="confirmPassword" placeholder="******************" />
      </div>
      <div class="flex flex-col py-5">
        <button type="submit" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline justify-center
        ">
          Sign Up!
        </button>
      </div>
    </form>
  </section>
</main>

<%- include('partials/footer') -%>