<%- include('partials/header-guest') %>

<main class="bg-bkgd font-body text-darkGray flex flex-col items-center justify-center w-full mx-auto">
  <section class="container my-10">
    <div class="container flex flex-col justify-center w-full pb-10 mx-auto text-center">
      <h2 class="font-heading text-darkPinkOrange w-full my-10 text-4xl font-bold text-center uppercase">Account Management Made Simple</h2>
    </div>
    <div class="bg-lightYellow md:flex-row flex flex-col w-full px-8 py-10 rounded-lg shadow-md">
      <div class="md:container md:w-1/2">
        <div class="md:pt-12 md:h-full md:justify-center flex flex-col items-center py-10 mx-auto">
          <p class="md:text-left md:container md:leading-loose text-lg text-center">
            If you ever decide to part ways, we provide hassle-free account deletion. Your<span class="text-darkPinkOrange font-heading font-bold uppercase"> privacy </span>and<span class="text-darkPinkOrange font-heading font-bold uppercase"> control </span>over your data are important to us, and we<span class="text-darkPinkOrange font-heading font-bold uppercase"> respect </span>your decision to delete your account. We're<span class="text-darkPinkOrange font-heading font-bold uppercase"> always </span>here to assist you if you change your mind.
          </p>
        </div>
      </div>
      <div class="md:container md:p-6 md:w-1/2 flex flex-col items-center justify-center w-full">
        <% if (locals.messages.errors) { %> <% messages.errors.forEach( el => { %>
        <div class="text-alert flex-col pb-3 mx-auto text-xl font-bold text-center">
          <%= el.msg %>
        </div>
        <% }) %> <% } %> <% if (locals.messages.info) { %> <%
          messages.info.forEach( el => { %>
        <div class="text-alert flex-col pb-5 mx-auto text-xl font-bold text-center">
          <%= el.msg %>
        </div>
        <% }) %> <% } %>
        <form action="/signup" method="POST" class="bg-accent w-full px-8 pt-6 pb-8 rounded shadow-md">
          <div class="pb-1 my-5">
            <h2 class="font-heading border-darkGray font-bold uppercase border-b">Sign up for an account
            </h2>
            <p class="font-heading text-vDarkBlue mt-2 mb-4 ml-5 text-xs font-bold normal-case"> - We'll never share your email.</p>
          </div>
          <div class="mb-4">
            <label for="userName" class="font-heading block mb-2 text-sm font-bold">User Name</label>
            <input type="text" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="userName" name="userName" placeholder="User Name" />
          </div>
          <div class="mb-4">
            <label for="email" class="font-heading block mb-2 text-sm font-bold">Email address</label>
            <input type="email" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="email" name="email" placeholder="Email" />
          </div>
          <div class="mb-4">
            <label for="password" class="font-heading block mb-2 text-sm font-bold">Password</label>
            <input type="password" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="password" name="password" placeholder="******************" />
          </div>
          <div class="mb-4">
            <label for="confirmPassword" class="font-heading block mb-2 text-sm font-bold">Confirm Password</label>
            <input type="password" class="focus:shadow-outline caret-lightPurple border-darkGray focus:border-brightBlue focus:outline-none focus:bg-bkgd w-full px-3 py-2 leading-tight border rounded shadow appearance-none" id="confirmPassword" name="confirmPassword" placeholder="******************" />
          </div>
          <div class="flex flex-col py-5">
            <button type="submit" class="bg-darkPinkOrange hover:bg-vDarkPinkOrange text-lightGreen focus:outline-none focus:shadow-outline justify-center px-4 py-2 font-bold rounded">
              Sign Up!
            </button>
            <p class="pt-5 text-xs">Have an account?<a class="text-darkBlue hover:text-vDarkBlue inline-block ml-2 text-sm font-bold align-baseline" href="/login">
                Log In
              </a></p>
            <p class="text-xs">Want a demo first?
              <a class="text-darkBlue hover:text-vDarkBlue inline-block ml-2 text-sm font-bold align-baseline" href="/login">
                Bypass Login
              </a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

<%- include('partials/footer') -%>