@tailwind base;
@tailwind components;
@tailwind utilities;

/** sidebar **/

#separator-sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

#separator-sidebar.open {
  transform: translateX(0);
}

#sidebar-toggle-open {
  display: inline-block;
}

#sidebar-toggle-close {
  display: none;
}

#separator-sidebar.open #sidebar-toggle-open {
  display: none;
}

#separator-sidebar.open #sidebar-toggle-close {
  display: inline-block;
}

/** drag & drop **/

.draggable {
  padding: 1rem;
  cursor: move;
}
.draggable.dragging {
  opacity: 0.5;
}
.highlight {
  background-color: yellow;
}
