@tailwind base;
@tailwind components;
@tailwind utilities;

/** kanban drag & drop **/

.draggable {
  padding: 1rem;
  background-color: white;
  /* border: 1px solid black; */
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}
