@tailwind base;
@tailwind components;
@tailwind utilities;

/** drag & drop **/

.draggable {
  padding: 1rem;
  cursor: move;
}
.draggable.dragging {
  opacity: 0.5;
}
.highlight {
  background-color: yellow; 
}

